body {font-size:12px; font-family:Arial,Tahoma; margin:0px; padding:0px;  background-color:#f5f5f5; behavior:url("csshover.htc");}

a {text-decoration:none; color:#8e5900;}
a:hover {color:#993300; }
form {padding:0px; margin:0px;}

h6 {margin:0px; padding:0px; font-weight:normal; color:#152e54; font-size:10px; text-transform:uppercase; font-family:Trebuchet MS, Arial, Tahoma;}
h5 {margin:0px; padding:0px; padding-left:5px; padding-bottom:20px; font-weight:normal; color:#152e54; font-size:19px; font-family:Trebuchet MS, Arial, Tahoma;}
h1 {margin:0px; padding:0px; padding-left:5px; padding-bottom:10px; font-weight:normal; color:#152e54; font-size:24px; font-family:Trebuchet MS, Arial, Tahoma;}


.wrapper {background: url(../graph/pagebg.png) top repeat-x; }
.wrtable {padding:0px; margin:0px; width:100%}
.leftbg {background:url("../graph/left.png") top right no-repeat; }
.rightbg {background:url("../graph/right.png") top left no-repeat; }
.page {width:1004px; background:url("../graph/bg.jpg") top no-repeat; background-color:white; padding-bottom:20px;}

.topmenu    {float:left; height:44px; width:819px; overflow:hidden;}
.topmenu .mitem {float:left;}
.topmenu .mitem li {list-style:none; text-align:center; padding-right:17px; padding-left:17px; padding-top:11px; height:33px; text-transform:uppercase; background: url(../graph/vml.png) right no-repeat;}
.topmenu .mitem li a {text-decoration:none; font-family:Trebuchet MS; font-size:16px; text-transform:uppercase; color:#091b3b;}
.topmenu .mitem span li {text-decoration:none; background: url(../graph/nonr.png); }
.topmenu .mitem b li {background: url(../graph/nonr.png); background-color:#e7b312; font-weight:normal; }
.topmenu .mitem b li a {color:white;}
.topmenu .mitem li:hover {background-color:#e7b312;}
.topmenu .mitem li:hover a {color:white;}

.langmenu {float:right; height:32px; padding-top:12px; width:150px; padding-right:20px; }
.ru {float:right; cursor:pointer; width:53px; height:17px; margin-right:9px; margin-left:9px; background:url(../graph/rus.png);}
.en {float:right; cursor:pointer; width:53px; height:17px; margin-right:9px; margin-left:9px; background:url(../graph/eng.png);}
.aru {float:right; width:53px; height:17px; margin-right:9px; margin-left:9px; background:url(../graph/rus_active.png);}
.aen {float:right; width:53px; height:17px; margin-right:9px; margin-left:9px; background:url(../graph/eng_active.png);}

.logoarea {clear:both; width:1004px; height:80px;}
.logo a {float:left; margin-top:13px; margin-left:20px; display:block; overflow:hidden; width:500px; height:54px; background: url(../graph/consul-marine.png) left no-repeat; text-indent:-999em;}
.logo_en a {float:left; margin-top:13px; margin-left:20px; display:block; overflow:hidden; width:500px; height:54px; background: url(../graph/consul-marine_en.png) left no-repeat; text-indent:-999em;}

.search {float:right; width:300px;}
.search input {float:left; margin-top:20px; width:250px; padding-left:10px; height:28px; border:solid 1px #e7e7e7;}
.search .go {float:left; height:30px; width:30px; border:solid 1px #e7e7e7; margin-top:20px; margin-left:-30px; cursor:pointer; background:url(../graph/search.png) no-repeat;  }

.toptextarea {clear:both; width:1004px; height:170px;}
.topabout {float:left; width:270px; height:115px; overflow:hidden; margin-left:25px; margin-top:25px; color:white; font-size:10px; text-align:justify;}

.slog {float:left; margin-top:15px; margin-left:40px; width:360px; height:170px; background:url(../graph/slog.png) top left no-repeat; }
.slog_en {float:left; margin-top:15px; margin-left:40px; width:360px; height:170px; background:url(../graph/slog_en.png) top left no-repeat; }

.infoarea {clear:both; float:left; width:1004px;}
.leftpart {float:left; width:320px;  }
.rightpart {float:right; width:675px; padding-top:35px;}

.catalogmenu {margin-left:35px; }
.catalogmenu ul    {margin:0px; padding:0px;}
.catalogmenu ul li {list-style:none; width:220px; padding-left:26px; padding-bottom:10px; margin-bottom:10px; border-bottom:solid 1px #e0e0e0; font-family:Tahoma; font-size:14px; background:url(../graph/lmarr.png) top left no-repeat;}
.catalogmenu ul li a {color:#081938;}
.catalogmenu ul li a:hover {color:#8e5900;}
.catalogmenu ul li ul  {margin:0px; padding:0px; margin-top:20px;}
.catalogmenu ul li ul li {list-style:none; margin:0px; padding:0px;  padding-bottom:10px; font-family:Tahoma; font-size:11px; border-bottom:none; background:none;}
.nomline {width:250px; height:11px; padding-left:35px; margin-top:-11px; background-color:white;}


.contactarea {width262:px; padding-left:25px; padding-top:25px; padding-right:10px; margin-top:15px; margin-left:15px; background:url(../graph/lmbg.png) top no-repeat;}
.addresstext {text-decoration:none; padding-left:5px; color:#333333; font-family : Trebuchet MS, Arial; font-size : 14px;}

.krohi {width:655px; padding-left:5px; padding-bottom:10px; margin-bottom:10px; border-bottom:solid 1px #e1e0e0; font-size:11px;}
.krohi span {padding-left:5px; padding-right:5px;}

.mainnewsarea {width:660px; padding-bottom:15px; padding-top:10px; margin-bottom:15px; border-bottom:solid 1px #e1e0e0; }

.mnewsitem {width:207px; margin-right:5px; margin-left:5px;  background:url(../graph/tnewsbg.png) bottom no-repeat; padding-bottom:10px; display: -moz-inline-stack; display:inline-block; vertical-align:text-top; zoom:1; *display:inline;}
.mnpic {width:170px; height:109px; overflow:hidden; padding:6px; background-color:white; border:solid 1px #c9c8c7; }
.mnpic img {width:170px; border:none;}
.mnetstext {padding:8px; padding-left:13px; padding-right:12px; padding-bottom:10px; color:#333333;  font-size : 11px;}
.mnetstext p {padding:0px; margin:0px; padding-top:3px;}
.mnetstext span {text-decoration:none; color:#1a5092; font-family : Tahoma, Arial; font-size : 10px;}
.mnmore {position:absolute; margin-top:-6px;  margin-left:145px; font-size:10px; font-family : Tahoma;}

.maincatalog {clear:both;}
.mñitem {width:140px; padding:5px; padding-bottom:10px; margin-right:4px; margin-left:4px; font-size:11px; text-align:center; text-transform:uppercase;  display: -moz-inline-stack; display:inline-block; vertical-align:text-top; zoom:1; *display:inline;}
.mñitem h2 {margin:0px; padding:0px; padding-bottom:5px; font-weight:normal; font-size:11px; font-family: Arial, Tahoma;}
.mñpic  {width:130px; height:130px; overflow:hidden; margin-bottom:10px; border:solid 1px #c9c8c7;}
.mñpic img {width:130px; border:none;}

.typeitem {width:310px; padding:5px; padding-bottom:10px; margin-right:4px; margin-left:4px; font-size:11px; display: -moz-inline-stack; display:inline-block; vertical-align:text-top; zoom:1; *display:inline;}
.typetext {float:left; width:160px; font-size:11px; color:#333333;}
.typetext .more {margin-top:3px; font-size:10px; }
.typeitem h2 {margin:0px; padding:0px; padding-bottom:5px; font-weight:normal; font-size:10px; font-family: Arial, Tahoma;}
.typepic  {float:left; width:130px; height:130px; overflow:hidden; margin-right:10px; margin-bottom:10px; border:solid 1px #c9c8c7;}
.typepic img {width:130px; border:none;}


.newlistsarea {width:660px; padding-bottom:15px; margin-bottom:15px;}
.newslistitem {clear:both; float:left; margin-bottom:10px; padding-bottom:10px; border-bottom:solid 1px #e0e0e0; }
.nlpic {float:left; width:150px; height:96px; margin-right:15px; overflow:hidden; padding:6px; background-color:white; border:solid 1px #c9c8c7; }
.nlpic img {width:150px; border:none;}
.nltext {color:#333333;  font-size : 12px;}
.nltext .nldate {color:#999999;  font-size : 11px; padding-bottom:5px;}
.nltext p {padding:0px; margin:0px; padding-top:3px;}
.nltext H2 {font-weight:normal; font-size:15px; padding:0px; margin:0px; padding-bottom:3px; }
.nlmore {margin-top:6px;  font-size:10px; font-family : Tahoma;}


.modelitem {clear:both; float:left; margin-bottom:13px; padding-bottom:13px; border-bottom:solid 1px #e0e0e0; }
.mlpic {float:left; width:150px; margin-right:15px; overflow:hidden; padding:6px; background-color:white; border:solid 1px #c9c8c7; }
.mlpic img {width:150px; border:none;}
.mltext {float:left; color:#333333;  font-size : 12px; width:460px;}
.mltext .mllink {color:#999999;  font-size : 11px; padding-bottom:5px;}
.mltext p {padding:0px; margin:0px; padding-top:3px;}
.mltext H2 {font-weight:normal; font-size:16px; padding:0px; margin:0px; padding-bottom:3px; }
.mltext H2 a {color:#152e54}
.mlmore {margin-top:6px;  font-size:10px; font-family : Tahoma;}



.partnerlistitem {clear:both; float:left; margin-bottom:10px; padding-bottom:10px; border-bottom:solid 1px #e0e0e0; }
.plpic {float:left; width:150px; margin-right:15px; overflow:hidden; padding:6px; background-color:white; }
.plpic img {width:150px; border:none;}
.pltext {float:left; color:#333333;  font-size : 12px; width:460px; }
.pltext p {padding:0px; margin:0px; padding-top:3px;}
.pltext H2 {font-weight:normal; font-size:15px; padding:0px; margin:0px; padding-bottom:3px; }
.plmore {margin-top:6px;  font-size:10px; font-family : Tahoma;}


.itemgallery {float:left; width:250px; margin-right:15px; margin-bottom:10px;}
.itembpic {width:250px; owerflow:hidden;}
.itembpic img {width:250px;}

.roomiconlist {float:left; width:250px; overflow:hidden; padding-top:15px;}
.roomiconarea {float:left; width:280px;}
.itemicon {float:left; width:50px; height:50px; overflow:hidden; margin-right:13px; cursor:pointer; border:solid 1px #e0e0e0;  }
.itemicon img {height:50px; margin-left:-25%; margin-right:-25%; }


.footerarea {width:100%; padding-bottom:30px; background-color:#e6e6e6; }
.footer     {clear:both; width:1004px; height:66px;  padding-top:25px; background: url(../graph/fbg.png) bottom repeat-x; background-color:white; }

.endmenu   {float:left; margin-top:15px; margin-left:10px; color:#bbbbbb; width:600px; text-align:left }
.endmenu a {margin-left:5px; margin-right:5px;  text-transform:uppercase; color:white; font-size:10px;}
.copy a    {clear:both; float:left;  margin-left:15px; margin-top:10px;  text-transform:uppercase; color:#6287a8; font-size:9px;}
.counters  {position:absolute;  width:250px; text-align:right; margin-top:15px; margin-left:740px; }

.toppartners {clear:both; width:1004px; height:86px; padding-top:15px; text-align:center; overflow:hidden; text-align:center;}
.tparea {height:86px;}
.tpitem     {padding-left:20px; padding-right:20px; float:left;}
.tpitem img {height:70px; opacity:0.2;}
.tpitem img:hover {height:70px; opacity:1;}

.pageline {font:size:11px;}
.pageline b {font-size:16px; margin-left:7px; }
.pageline span {margin-left:7px; }

.pnewstext {color:#333333; padding-right:35px; padding-left:5px; padding-bottom:15px; text-align:justify;}

.galleryitem {width:140px; padding:6px; padding-bottom:5px; margin-right:2px; margin-left:2px; text-align:center; display: -moz-inline-stack; display:inline-block; vertical-align:text-top; zoom:1; *display:inline;}
.gpic  {width:130px; height:130px; overflow:hidden; margin-bottom:10px; border:solid 1px #c9c8c7;}
.gpic img {height:130px; margin-right:-25%; margin-left:-25%; border:none;}

.sertgalleryitem {width:140px; padding:6px; padding-bottom:5px; margin-right:4px; margin-left:4px; text-align:center; display: -moz-inline-stack; display:inline-block; vertical-align:text-top; zoom:1; *display:inline;}
.sgpic  {width:130px; height:200px; overflow:hidden; margin-bottom:10px; }
.sgpic img {width:130px; border:none;}

.itemadd {clear:none; margin-top:15px;  padding-bottom:15px; border-top:solid 1px #e9e9e9; }
.itemaddlink {margin-top:10px; font-size:14px;}

.pagenavigate {clear:none; height:30px; width:100%; padding-top:10px;  border-top:solid 1px #e9e9e9;}
.pnlinks {float:left; width:190px;}
.pnlinks span {margin-left:7px; margin-right:7px;}
.alllinks {float:right; text-align:right;}

.map {clear:both;  padding-top:20px; }
.cform {float:right; width:280px; height:405px; overflow:hidden; padding:15px; margin-top:-50px; border:solid 0px #c7c7c7; background-color:#f6f6f6; font-size:11px;}
.cform p {padding:0px; margin:0px; padding-bottom:5px;}
.cform input {width:260px; padding-left:5px; padding-right:5px; margin-top:2px;}
.cform textarea {width:260px; padding:5px;}
.cfinfo {font-size:10px; }
.bbc {cursor:pointer; padding:5px; width:130px; margin-top:10px; text-align:center;  background-color:#0d2b58; font-family: Trebuchet MS, Arial; color:white; font-size:13px; }
.bbc h6 {color:white;}